@charset "UTF-8";

table#tabelaUsuarios {
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

table#tabelaUsuarios td {
	border-bottom: 1px solid #cccccc;
	padding: 10px;
}

table#tabelaUsuarios td.tbcabecalho {
	background-color: #036DB6;
	color: #ffffff;
	font-weight: bold;
}